<div class="remindersContainer">
  <ng-container *ngFor="let item of reminders">
    <div
      *ngIf="rService.reminderOnDate(item, dateReminder)"
      class="remindersContainer reminder reminder-item"
      [style]="{ backgroundColor: item.color }"
      (click)="showDetails(item)"
    >
      <span>{{ item.time }}</span>
      <span>{{ item.description }}</span>
    </div>
  </ng-container>
  <button
    class="remindersContainer reminder reminder-add"
    (click)="openDialog()"
  >
    <span class="material-symbols-outlined"> add </span>
  </button>
</div>
