<div class="reminderDialog">
  <h1 mat-dialog-title>Reminder</h1>
  <div mat-dialog-content>
    <form [formGroup]="reminderForm" class="reminderDialog reminderDialog-form">
      <div class="reminderDialog-fillContainer">
        <mat-form-field class="reminderDialog-form__field" appearance="outline">
          <mat-label>Reminder</mat-label>
          <input
            matInput
            formControlName="description"
            placeholder="Type your reminder"
          />
          <mat-hint
            *ngIf="
              reminderForm.controls.description.errors &&
              reminderForm.controls.description.errors.required
            "
            class="reminderDialog-form__hint"
            >This field is required.</mat-hint
          >

          <mat-hint
            *ngIf="
              reminderForm.controls.description.errors &&
              reminderForm.controls.description.errors.maxlength
            "
            class="reminderDialog-form__hint"
            >Only 30 characters allowed.</mat-hint
          >
        </mat-form-field>

        <input
          class="reminderDialog-form__color"
          type="color"
          formControlName="color"
        />
      </div>
      <div class="reminderDialog-divideContainer">
        <mat-form-field class="reminderDialog-form__field" appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="reminderDialog-form__field" appearance="outline">
          <mat-label>Time</mat-label>
          <input
            matInput
            type="time"
            min="00:00"
            max="23:59"
            formControlName="time"
          />
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="reminderDialog-buttons">
    <button
      mat-button
      class="reminderDialog-buttons__delete"
      *ngIf="reminder"
      (click)="delete(reminderForm.value.id)"
      color="warn"
    >
      Delete
    </button>
    <div class="space"></div>
    <div>
      <button
        class="reminderDialog-buttons__close"
        mat-button
        (click)="close()"
      >
        Back
      </button>
      <button
        class="reminderDialog-buttons__action"
        mat-button
        (click)="submit()"
      >
        {{ reminder && reminder.id ? "Edit" : "Create" }}
      </button>
    </div>
  </div>
</div>
