@import "/src/assets/variables.scss";

.reminderDialog {
  &-form {
    div {
      display: flex;
    }
  }
  &-fillContainer {
    .reminderDialog-form {
      &__field {
        width: calc(100% - 79px);
        margin: 4px $space-default 4px 0;
      }
      &__color {
        background-color: transparent;
        border: none;
        height: 63px;
        width: 63px;
      }
      &__hint {
        font-size: $font-small;
        color: $danger-color;
      }
    }
  }
  &-divideContainer {
    justify-content: space-between;
    mat-form-field {
      width: calc(50% - $space-medium);
    }
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
    border-top: $border;
    padding: $space-default;
    button {
      cursor: pointer;
      background-color: $primary-color;
      border: $border;
      padding: $space-medium $space-default;
      border-radius: 4px;
      &:hover {
        opacity: 0.8;
      }

      &.reminderDialog-buttons {
        &__delete {
          background-color: $danger-color;
          color: white;
        }
        &__close {
          margin-right: $space-default;
          background-color: $primary-lighter;
        }
      }
    }
    div {
      display: flex;
    }
  }
}
.space {
  flex: 1;
}
