@import "/src/assets/variables.scss";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  font-weight: 600;
  h1 {
    font-size: $space-default;
  }
}
