@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "/src/assets/variables.scss";

* {
  font-size: 14px;
  color: #353131;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: $space-medium 0;
}

p {
  margin: 0;
}

.padding {
  padding: 0 $space-default;
}

.content {
  margin: 82px auto 32px;
}
